transformers==4.46.2
datasets
accelerate
deepspeed
evaluate
matplotlib
hydra-core
omegaconf
peft
tqdm
einops
packaging
bitsandbytes
scipy
ninja
natsort
pandas

# evaluate metric backends: rouge/rougeL, bleu, chrf
rouge_score
nltk
absl-py
sacrebleu
